<?xml version="1.0" encoding="UTF-8"?>
<beans>

        <bean id="userDao" class="top.yuan.test.UserDao"/>

        <bean id="userService" class="top.yuan.test.UserService">
                <property name="uid" value="1"/>
                <property name="userDao" ref="userDao"/>
        </bean>

</beans>