<?xml version="1.0" encoding="UTF-8"?>
<beans>

        <bean id="userDao" class="top.yuan.test.UserDao"/>

        <bean id="userService" class="top.yuan.test.UserService">
                <property name="uid" value="1"/>
                <property name="company" value="腾讯"/>
                <property name="location" value="深圳"/>
                <property name="userDao" ref="userDao"/>
        </bean>

        <bean class="top.yuan.test.common.MyBeanFactoryPostProcessor"/>
        <bean class="top.yuan.test.common.MyBeanPostProcessor"/>
</beans>